.courses{
    width: 90%;
    margin: 5% auto;
    text-align: center;
    padding: 10px 0 0 0;
}

.courses h1{
    font-size: 40px;
}

.courses h3{
    margin-top: 4%;
    font-size: 25px;
}

.courses div p{
    padding: 20px;
    text-align: justify;
    text-align-last: center;
}

.courses div ul{
    padding: 20px;
    margin: 2%;
    text-align: left;
}

#punchLine{
    font-style: italic;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 5% 2%;
    /* color: #FFEACA; */
    
}

.course-col{
    width: 50%;
    margin: 0 5px;
    padding: 2px;
    background: #FFBCBC;
    border-radius: 10%;
}

.course-col:hover{
    box-shadow: 0 5px 15px rgba(10, 2, 2, 0.3);
}

@media screen and (max-width: 500px){
    .row{
        flex-direction: column;
    }
    .course-col{
        margin-top: 10px;
        width: 90%;
    }

}